*, *::before, *::after {
    font-family: "Open Sans", sans-serif;
}

/* Navigation-Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #333;
    width: 98.99%;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    padding: 1rem;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.navbar-logo > img {
    display: inline-block;
    width: 100px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding-top: 1rem;
    display: block;
    color: #333;
}

.navbar-links li a > img {
    width: 20px;
    height: 20px;
}

.navbar-links li .btn {
    width: 125px;
    height: 40px;
}

.btn {
    --color: #ffcd00;
    background: var(--color);
    border: none;
    color: black;
    padding: .5em .75em;
    cursor: pointer;
}


/* Carousel */

.carousel > img {
    width: 100%;
}

/* Container */
.container {
    margin: 50px 80px;
}

/* Card */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    align-items: flex-start;
}

.card {
    --padding: 1rem;
    background: white;
    min-height: 500px;
    border: 1px solid #777;
    overflow: hidden;
}

.card.card-shadow {
    border: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .2);
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
    position:relative;
}

.card-header.card-image > img{
    display: block;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16 /9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(241, 239, 68, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.card.card-shadow .shade {
    display: none;
}

.card.card-shadow:hover .shade {
    transition: 200ms;
    display: block;
}

.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}

.card-body {
    font-size: .9rem;
    padding: var(--padding);
}

.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.card-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}

.tag {
    display: flex;
}

.time {
    display: flex;
}

.card-footer .btn {
    width: 200px;
    height: 40px;
    font-weight: bold;
}

.footer {
    background-color: #0e9749;
    width: 100%;
    height: auto;
}

.footer-container {
    color: white;
}

.footer-address > img {
    padding: 1rem;
}

.address {
    padding: 1rem;
}

.contact {
    padding: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}


/* Footer */

.footer-head {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    padding-top: 2rem;
}

.head-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem
}

.head-links li {
    list-style: none;
}

.head-links li a {
    text-decoration: none;
    display: block;
    color: white;
}

.head-links li a > img {
    width: 20px;
    height: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
}

.footer-nav {
    display: flex;
    gap: 1rem;
}
.footer-address {
    padding-top: 0.5rem;
}

.footer-menu h2 {
    padding-left: 1rem;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    padding: 0.5rem 0.5rem 0rem 1rem;
    display: block;
    color: white;
}

.social-media ul{
    padding-top: 70%;
    display: flex;
    gap: 2rem;
}

.social-media li {
    list-style: none;
}

.social-media li a {
    text-decoration: none;
    display: block;
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.hover-up {
    position: absolute;
    padding-left: 90%;
    padding-top: 10%;
}

.hover-up .btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
